body{
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color:white;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cinzel', serif;
}
.back {
    position: absolute middle;
    left: 1.3%;
    color: white;
    background-color:  
    padding: 15px 32px;
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: .8;
  }
footer {
    font-size: 40px;
    color: white;
}